{erl_opts, [debug_info,
            {parse_transform, lager_transform},
            {i, "./_build/default/plugins/gpb/include"}
           ]}.
{deps, [
  {lager, {git, "git://github.com/erlang-lager/lager.git", {tag, "3.8.0"}}},
  {erlcloud, {git, "git://github.com/erlcloud/erlcloud.git", {tag, "3.4.0"}}},
  {jsx, {git, "git://github.com/talentdeficit/jsx.git", {tag, "v3.0.0"}}},
  {gpb, {git, "git://github.com/tomas-abrahamsson/gpb.git", {tag, "4.15.2"}}}
]}.

{plugins, [
  {rebar3_gpb_plugin, {git, "git://github.com/lrascao/rebar3_gpb_plugin.git", {tag, "2.18.1"}}}
]}.

{relx, [{release, {mnclp, "0.1.0"},
         [mnclp,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{gpb_opts, [
    {i, "proto"},
    {f, ["kv.proto"]},
    {module_name_suffix, "_pb"},
    {o_erl, "src"},
    {o_hrl, "include"},
    {strings_as_binaries, true},
    type_specs]
}.
{provider_hooks,
 [{pre, [
         {compile, {protobuf, compile}},
         {clean, {protobuf, clean}}
        ]}
 ]}.